Repository cursgit/filmoteca, pull requests merged in 2025-06, with the labels that each got.

#28 Fix: correcció extensió pel·licula Piratas Silicon Valley
  pelicules/piratas-silicon-valley.md
Labels: pel·licula, millora

#26 Sèrie: Silicon Valley
  series/silicon-valley.md
Labels: serie

#32 Pel·lícules: Afegir plantilla
  pelicules/README.md
Labels: pel·licula, millora, requested changes

#41 Sèries: Blacklist
  series/blacklist.md
Labels: serie

#39 Sèrie: Chernobyl
  series/chernobyl.md
Labels: serie, requested changes

#30 Llibre: Africanus
  llibres/africanus.md
Labels: llibre, requested changes

#46 Sèrie: The Last of Us añadida
  series/the-last-of-us.md
Labels: serie

#48 Pel·lícula: El niño que domó el viento
  pelicules/El-niño-que-domó-el-viento.md
Labels: pel·licula, requested changes

#47 Llibre: El asesinato de Roger Ackroyd
  llibres/el-asesinato-de-roger-ackroyd.md
Labels: llibre

#40 Pel·lícula: Pulp Fiction
  pelicules/pulp-fiction.md
Labels: pel·licula, requested changes

#51 Llibre: el nombre de la rosa
  llibres/el-nombre-de-la-rosa.md
Labels: llibre

#56 serie the big bang theory
  series/the-big-bang-theory.md
Labels: serie, requested changes

#55 Sèrie: Dark
  series/dark.md
Labels: serie, requested changes

#60 Sèrie: Knight Rider
  series/knight-rider.md
Labels: serie

#58 Pel·lícula: Camino a la perdición
  pelicules/camino-a-la-perdicion.md
Labels: pel·licula

#62 Pel·lícula: Stardust
  pelicules/Stardust.md
Labels: pel·licula, requested changes
